.login {
    margin-top: 100px ;
    margin-bottom:10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #41739d;
    color:aliceblue

}

.form-login {
    display:flex;
    vertical-align: baseline;
    flex-wrap: nowrap;
    flex-direction: column;
}

.text-form-login {
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 5px;
}
.cadastre-se {
   
    text-align: end;
    margin-top: 15px;
    text-decoration: none;
}
.box {
    box-shadow: 2px;
    border: solid 1px #0000;
}

#singnUp {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

}

#singnUp p {
    padding-left: 5px;
}

#signIn {
    margin-top: 10px;
}